* {
	margin: 0;
	padding: 0;
}
.header {
	width: 100vw;
	height: 7vh;
	background-color: #434343;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #e7e7e7;
}
.header-left {
	font-size: 25px;
	margin-left: 2rem;
	cursor: pointer;
}
.header-right {
	display: flex;
}
.header-right > div {
	cursor: pointer;
	margin-right: 2rem;
}
.header-right > div:hover {
	border-bottom: 1px solid #e7e7e7;
}
.body {
	width: 100vw;
	height: 93vh;
	background-color: #595959;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.card {
	width: 23rem;
	height: 30rem;
	border-radius: 10px;
}
.card > img {
	width: 23rem;
	height: 27rem;
	border-radius: 10px 10px 0 0;
}
